<!doctype html>
<html lang="{{lang}}">
  <head>
    <meta charset=utf-8>
    <title>{{ text "Manage your key on {{domain}}" rerender }}</title>
  </head>
  <body>
    <p>
      {{ text "Hi," }}
    <p>
      {{ text "This is an automated message from <a href=\"{{base_uri}}\" style=\"text-decoration:none; color: #333\">{{domain}}</a>." rerender }}
      {{ text "If you didn't request this message, please ignore it." }}
    <p>
      {{ text "OpenPGP key: <tt>{{primary_fp}}</tt>" rerender }}
    <p>
      {{ text "To manage and delete listed addresses on this key, please follow the link below:" }}
    <p>
      <a rel="nofollow" href="{{uri}}">{{uri}}</a>
    <p>
      {{ text "You can find more info at <a href=\"{{base_uri}}/about\">{{domain}}/about</a>." rerender }}
    <p>
      <a href="{{base_uri}}">{{base_uri}}</a><br />
      {{ text "distributing OpenPGP keys since 2019" }}
  </body>
</html>
