<!doctype html>
<html lang="{{lang}}">
  <head>
    <meta charset=utf-8>
    <title>Your key upload on {{domain}}</title>
  </head>
  <body>
    <p>
      Hi,
    <p>
      This is an automated message from <a href="{{base_uri}}" style="text-decoration:none; color: #333">{{domain}}</a>.
      If you didn't upload your key there, please ignore this message.
    <p>
      OpenPGP key: <tt>{{primary_fp}}</tt>
    <p>
      This key was just uploaded for the first time, and is now published without identity information. If you want to allow others to find this key by e-mail address, please follow this link:
    <p>
      <a rel="nofollow" href="{{uri}}">{{uri}}</a>
    <p>
      You can find more info at <a href="{{base_uri}}/about">{{domain}}/about</a>.
    <p>
      <a href="{{base_uri}}">{{base_uri}}</a><br />
      distributing OpenPGP keys since 2019
  </body>
</html>

