{{#> layout }}
  {{#with page}}

  {{#with error }}
    <p><strong>Error</strong>: {{ this }}</p>
  {{/with}}

  <center><h2>{{ text "Manage your key" }}</h2></center>

  <form action="/manage" method="POST">
    <div class="manage">
      <input type="text" name="search_term" class="manageEmail" autofocus
                placeholder="{{ text "Enter any verified email address for your key" }}">
      <button type="submit" class="manageButton button">
        {{ text "Send link" }}
      </button>
    </div>
  </form>

  <p>
    {{ text "We will send you an email with a link you can use to remove any of your email addresses from search." }}
  </p>

  {{/with}}
{{/layout}}
