{{#> layout }}
  {{#with page}}
  <p>
    {{ text "Managing the key <span class=\"fingerprint\"><a href=\"{{ key_link }}\" target=\"_blank\">{{ key_fpr }}</a></span>." rerender }}
  </p>

  {{#if uid_status}}
  <p style="padding-top: 1em;">
    {{ text "Your key is published with the following identity information:" }}
  </p>

  {{#each uid_status}}
  <div class="publishedUid" style="">
    <div>
      <form action="/manage/unpublish" method="post">
        <input type="hidden" name="token" value="{{../token}}" />
        <input type="hidden" name="address" value="{{address}}" />
        <input type="submit" class="link" value="{{ text "Delete" }}">
      </form>
    </div>
    <p>
      <span class="email">{{address}}</span>
    </p>
  </div>
  {{/each}}

  <p style="line-height: 1.8em;">
    {{ text "Clicking \"delete\" on any address will remove it from this key. It will no longer appear in a search.<br /> To add another address, <a href=\"/upload\">upload</a> the key again." }}
  </p>

  {{else}}
  <p style="padding-top: 1em;">
    {{ text "Your key is published as only non-identity information.  (<a href=\"/about\" target=\"_blank\">What does this mean?</a>)" }}
  </p>

  <p>
    {{ text "To add an address, <a href=\"/upload\">upload</a> the key again." }}
  </p>
  {{/if}}

  {{/with}}
{{/layout}}
