{{#> layout }}
  {{#with page}}
<div class="ui">
  <center><h2>{{ text "Upload your key" }}</h2></center>

  {{#with error }}
    <p><strong>Error</strong>: {{ this }}</p>
  {{/with}}

  <form action="/upload/submit" method="POST" enctype="multipart/form-data">
    <div class="upload">
      <input type="file" id="keytext" name="keytext" autofocus class="fileUpload" placeholder="{{ text "Your public key" }}"/>
      <button type="submit" class="uploadButton button">
        <img src="/assets/upload.svg" style="width: 1em;"> {{ text "Upload" }}
      </button>
    </div>
  </form>

  <p>
    {{ text "Need more info? Check our <a target=\"_blank\" href=\"/about\">intro</a> and <a target=\"_blank\" href=\"/about/usage\">usage guide</a>." }}
  </p>

  <script src="/assets/js/upload.js" async></script>
</div>
  {{/with}}
{{/layout}}
