{{#> layout }}
  {{#with page}}

  <p>
    {{ text "You uploaded the key <span class=\"fingerprint\"><a href=\"{{ key_link }}\" target=\"_blank\">{{ key_fpr }}</a></span>." rerender }}
  </p>

  {{#if is_revoked}}
    <p>
      <strong>{{ text "This key is revoked." }}</strong>
    </p>
    <p>
      {{ text "It is published without identity information and can't be made available for search by email address. (<a href=\"/about\" target=\"_blank\">What does this mean?</a>)" }}
    </p>
  {{else}}
    {{#if email_published}}
      <p style="padding-top: 1em;">
        {{ text "This key is now published with the following identity information (<a href=\"/about\" target=\"_blank\">what does this mean?</a>):" }}
      </p>
      {{#each email_published}}
      <div class="publishedUid">
        <div>{{ text "Published" }}</div>
        <p><span class="email">{{this}}</span></p>
      </div>
      {{/each}}
    {{else}}
      <p style="padding-top: 1em;">
        {{ text "This key is now published with only non-identity information. (<a href=\"/about\" target=\"_blank\">What does this mean?</a>)" }}
      </p>
    {{/if}}

    {{#if email_unpublished}}
      <p style="padding-top: 1em;">
        {{ text "To make the key available for search by email address, you can verify it belongs to you:" }}
      </p>
      {{#each email_unpublished}}
      <div class="publishedUid">
        <div>
          {{#if requested}}
            {{ text "Verification Pending" }}
          {{else}}
          <form action="/upload/request-verify" method="post">
            <input type="hidden" name="token" value="{{../token}}" />
            <input type="hidden" name="address" value="{{address}}" />
            <input type="submit" class="link" value="{{ text "Send Verification Email" }}">
          </form>
          {{/if}}
        </div>
        <p><span class="email">{{ address }}</span></p>
      </div>
      {{/each}}
      <p>
        {{ text "<strong>Note:</strong> Some providers delay emails for up to 15 minutes to prevent spam. Please be patient." }}
      </p>
    {{/if}}

    {{#if count_unparsed}}
      {{#if count_unparsed_one}}
    <p style="padding-top: 1em;">
      {{ text "This key contains one identity that could not be parsed as an email address.<br /> This identity can't be published on <span class=\"brand\">keys.openpgp.org</span>.  (<a href=\"/about/faq#non-email-uids\" target=\"_blank\">Why?</a>)" }}
    </p>
      {{else}}
    <p style="padding-top: 1em;">
      {{ text "This key contains {{ count_unparsed }} identities that could not be parsed as an email address.<br /> These identities can't be published on <span class=\"brand\">keys.openpgp.org</span>.  (<a href=\"/about/faq#non-email-uids\" target=\"_blank\">Why?</a>)" rerender }}
    </p>
      {{/if}}
    {{/if}}

    {{#if count_revoked}}
      {{#if count_revoked_one}}
    <p style="padding-top: 1em;">
      {{ text "This key contains one revoked identity, which is not published. (<a href=\"/about/faq#revoked-uids\" target=\"_blank\">Why?</a>)" rerender }}
    </p>
      {{else}}
    <p style="padding-top: 1em;">
      {{ text "This key contains {{ count_revoked }} revoked identities, which are not published. (<a href=\"/about/faq#revoked-uids\" target=\"_blank\">Why?</a>)" rerender }}
    </p>
      {{/if}}
    {{/if}}

  {{/if}}

  {{/with}}
{{/layout}}
