{{#> layout }}
  {{#with page}}
    <div class="ui">
        <p>
            {{ text "We found an entry for <span class=\"email\">{{ query }}</span>." rerender }}
        </p>

        <p>
            <a href="{{ ../base_uri }}/vks/v1/by-fingerprint/{{ fpr }}">{{ ../base_uri }}/vks/v1/by-fingerprint/{{ fpr }}</a>
        </p>

        <p>
            {{text "<strong>Hint:</strong> It's more convenient to use <span class=\"brand\">keys.openpgp.org</span> from your OpenPGP software.<br /> Take a look at our <a href=\"/about/usage\">usage guide</a> for details." }}
        </p>
        <div class="debug_link" style="color: transparent;">
            <a href="{{ ../base_uri }}/debug?q={{ fpr }}">{{ text "debug info" }}</a>
        </div>
    </div>
  {{/with}}
{{/layout}}
