{{#> layout }}
  {{#with page}}

  {{#with error}}
  <p><strong>{{ text "Error" }}</strong>: {{ this }}</p>
  {{/with}}

  <form action="/search" method="GET">
    <div class="search">
      <input type="text" class="searchTerm" id="search" name="q" autofocus placeholder="{{ text "Search by Email Address / Key ID / Fingerprint" }}">
      <button type="submit" class="searchButton button">
        <img src="/assets/search.svg" style="width: 1em; padding-bottom: 4px;"> {{ text "Search" }}
      </button>
    </div>
  </form>

  <p>
    {{ text "You can also <a href=\"/upload\">upload</a> or <a href=\"/manage\">manage</a> your key." }}
  </p>

  <p>
    {{ text "Find out more <a href=\"/about\">about this service</a>." }}
  </p>

  <hr />

  <p>
    <strong>{{ text "News:" }}</strong> {{ text "<a href=\"/about/news#2023-04-28-governance\">keys.openpgp.org governance 📜</a> (2023-04-28)" }}
  </p>
  {{/with}}
{{/layout}}
